<div class="container">
<div class="card mt-5">
    <div class="card-body p-5">
        <div class="form-row mt-4">
            <div class="col pr-4">
                <input type="text" placeholder="Name" class="form-control">
            </div>
            <div class="col">
                <input type="text" placeholder="User Id" class="form-control">
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="col pr-4">
                <input type="text" placeholder="Email Id" class="form-control">
            </div>
            <div class="col">
                <input type="text" placeholder="Mobile No" class="form-control">
            </div>
        </div>

        <div class="form-row mt-4">
            <div class="col pr-4">
                <input type="text" placeholder="State" class="form-control">
            </div>
            <div class="col">
                <input type="text" placeholder="City" class="form-control">
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="col pr-4">
                <input type="text" placeholder="Password" class="form-control">
            </div>
            <div class="col">
                <input type="text" placeholder="Confirm Password" class="form-control">
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="col pr-4">
                <input type="date" placeholder="DOB" class="form-control">
            </div>
            <div class="col">
                <input type="text" placeholder="Address" class="form-control">
            </div>
        </div>
        <div class="row mt-5 w-50" style="margin: auto;">
          <button type="button" class="btn btn-primary btn-block" >Register</button>
        </div>
            
       
    </div>
</div>
</div>