<div class="card boader-primary mt-5">
    <img class="card-img-top" src="assets/Images/Login.png"/>
    <div class="card-body p-5">
        <form>
            <div class="form-group">
                <input type="text" name="mobileNo" placeholder="Mobile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control" />
            </div>
            <div class="form-group">
                <select name="category" class="form-control">
                  <option>Student</option>
                  <option>Admin</option>
                </select>
            </div>
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary">Login</button>
            </div>
            <h6 class="py-2">Not Registered ? <a href="#"> Register here</a></h6>
        </form>
    </div>
</div>